  .hero {
  width: 100%;
  position: relative;
  background: var(--color-primary);
  padding: 100px;
  font-family: Arial;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 5px;
  font-size: 40px;
  color: #000000;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 10px;
}
  
  .hero {
    cursor: pointer;
}
  
  .hero:hover {
    text-decoration: underline;
}

.heroein {
  font-size: 14px;
  color: gray;
  margin-left: 104px;
}
  
  .heroein {
    cursor: pointer;
}
  
  .heroein:hover {
    text-decoration: underline;
}

.w-full{
  height: 10px;
}


